.expense-list {
	display: flex;
	flex-direction: column;
	gap: .25rem;
}

.expense-btns {
	display: none;
}

.expense-date {
	display: block;
}

.expense-form {
	display: grid;
	grid-template-columns: 2fr 1fr .5fr 1.5fr .75fr .75fr;
	grid-template-rows: minmax(20px, max-content);
	align-items: center;
	gap: .25rem;

	border-radius: 5px;
	background-color: var(--bl-l-color);

	& > * {
		padding: 5px 0;
		text-align: center;
	}
	& > *:first-child {
		padding: 5px 0 5px 5px;
		border-radius: 5px 0 0 5px;
		text-align: start;
	}
	& > *:last-child {
		padding: 5px 5px 5px 0;
		border-radius: 0 5px 5px 0;
	}
}

.expense-form > * {
	width: 100%;

	border: none;
	background-color: var(--bl-l-color);

	font-size: 1rem;
	color: var(--txt-d-color);

	&:focus {
		outline: none;
	}
}

input[type="number"] {
	appearance: none;
	-webkit-appearance: textfield;
}
.expense-form > button {
	transition: background-color .15s linear;

	&:hover {
		background-color: #008F00;
	}
}

#id_price {
	text-align: end;
}

.expense-block {
	padding: 5px;

	display: grid;
	grid-template-columns: 2fr 1fr .5fr 1.5fr .75fr .75fr;
	grid-template-rows: minmax(20px, max-content);
	align-items: center;
	gap: .25rem;

	border-radius: 5px;
	background-color: var(--bl-d-color);

	color: var(--txt-l-color);

	&:hover .expense-date {
		display: none;
	}
	&:hover .expense-btns {
		display: grid;
	}
	&:hover {
		outline: solid 2px var(--bn-color);
	}
}

.expense-description {
	white-space: nowrap;
	overflow: hidden; 
	text-overflow: ellipsis; 
}

.expense-end {
	display: flex;
	justify-content: end;
}

.expense-btns {
	grid-template-columns: 20px 20px;
	grid-template-rows: 20px;
	align-items: center;
	gap: 1rem;
}

.expense-upd, .expense-del {
	display: grid;
	place-content: center;
	aspect-ratio: 1;

	border-radius: 50%;
	outline-color: var(--hv-txt-d-color);
	background-color: transparent;

	transition: all .15s linear;

	&:hover {
		background-color: var(--hv-txt-d-color);
		outline: solid 3px var(--hv-txt-d-color);
	}
	& > svg {
		/* fill: var(--txt-l-color); */
		color: var(--txt-l-color);
	}
}


.t-start {
	text-align: start;
}
.t-center {
	text-align: center;
}
.t-end {
	text-align: end;
}