{% extends "base/base.htm" %}
{% load static %}


{% block style %}
<link rel="stylesheet" href="{% static 'css/pagination.css' %}">
<!-- <link rel="stylesheet" href="{% static 'css/top_menu.css' %}"> -->
<link rel="stylesheet" href="{% static 'css/expense/expenses.css' %}">
<link rel="stylesheet" href="{% static 'css/expense/expense_list.css' %}">
<meta name="page" content="{{ page }}">

<meta name="delExpense" content="{% url 'del_expense' %}">

<meta name="delExpenseCat" content="{% url 'del_expense_cat' %}">
<meta name="delExpensePlat" content="{% url 'del_expense_plat' %}">
{% endblock %}


{% block content %}
<section class="sidebar filter-wraper" data-url="{% url 'filter_list' %}"></section>

<section class="contenet list-cont" data-url="{% url 'expense_list' %}"></section>
{% endblock %}

{% block script %}
<script src="{% static 'js/expense/list.js' %}"></script>
<script src="{% static 'js/add_csrftoken.js' %}"></script>
<script src="{% static 'js/expense/expenses.js' %}"></script>
{% endblock %}