{% extends "base/base.htm" %}
{% load static %}


{% block style %}
<link rel="stylesheet" href="{% static 'css/pagination.css' %}">
<!-- <link rel="stylesheet" href="{% static 'css/top_menu.css' %}"> -->
<link rel="stylesheet" href="{% static 'css/expense/expenses.css' %}">
<link rel="stylesheet" href="{% static 'css/expense/expense_list.css' %}">
<meta name="page" content="{{ page }}">

<meta name="updExpense" content="{% url 'upd_expense' %}">
<meta name="delExpense" content="{% url 'del_expense' %}">
{% endblock %}


{% block content %}

<div class="top-menu">
	<p>Затраты</p>
	<select class="top-menu-select" name="" id="EPP">
		<option value="25">25</option>
		<option value="50">50</option>
		<option value="100">100</option>
	</select>
	<a href="{% url 'add_expense' %}" class="top-add-btn add-order-btn" id="addOrderBtn">
		<svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
			<rect x="14" width="5" height="34" rx="2.5" fill="#FFF"/>
			<rect y="19" width="5" height="34" rx="2.5" transform="rotate(-90 0 19)" fill="#FFF"/>
		</svg>
	</a>
</div>
<div class="expense-list list-cont" data-url="{% url 'expense_list' %}"></div>
<div class="pagination" id="pagination"></div>



<div class="edit-menu-wraper">
	<button class="edit-menu-btn upd-menu-btn" id="upd_expense">Edit</button>
	<button class="edit-menu-btn del-menu-btn" id="del_expense">DELETE</button>
</div>

{% endblock %}

{% block script %}
<script src="{% static 'js/list.js' %}"></script>
<script src="{% static 'js/add_csrftoken.js' %}"></script>
<script src="{% static 'js/expense/expenses.js' %}"></script>
{% endblock %}