{% extends "base/base.htm" %}
{% load static %}


{% block style %}
<link rel="stylesheet" href="{% static 'css/product/import.css' %}">

<meta name="page" content="{{ page }}">
<meta name="editImport" content="{% url 'edit_supplier_auto_import' %}">
<meta name="delSupplierUrl" content="{% url 'del_supplier' %}">
{% endblock %}

{% block content %}
<section class="content-wrapper">
	<div class="top-menu">
		<h1>{{ page_name }}</h1>
		<a href="{% url 'add_supplier' %}" class="add-supplier-btn top-menu-add-btn" id="addSupplierBtn">
			<svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
				<rect x="14" width="5" height="34" rx="2.5" fill="#FFFFFF"/>
				<rect y="19" width="5" height="34" rx="2.5" transform="rotate(-90 0 19)" fill="#FFFFFF"/>
			</svg>
		</a>
	</div>

	<div class="list-cont" data-url="{% url 'sup_list' %}"></div>
</section>


<menu class="custom-menu" id="custom-menu">
	<div class="custom-menu-btns">
		<button class="custom-menu-btn" id="customMenuUpdBtn">Редактировать</button>
		<button class="custom-menu-btn" id="customMenuDelBtn">Удалить</button>
	</div>
</menu>
{% endblock %}

{% block script %}
<script src="{% static 'js/add_csrftoken.js' %}"></script>
<script src="{% static 'js/product/import.js' %}"></script>
{% endblock %}