.content-wrapper {
	display: grid;
	grid-template-columns: subgrid;
	grid-template-rows: max-content auto;
	gap: 1rem;
}


.top-menu {
	padding: 5px;

	display: grid;
	grid-template-columns: auto 30px;
	gap: 1rem;
	align-items: center;

	border-radius: 10px;
	background-color: var(--bl-d-color);
}
.top-menu * {
	color: var(--l-txt-color);
}

.top-menu > h1 {
	font-size: 1.25rem;
	font-weight: normal;
}

.top-menu-add-btn {
	padding: 5px;

	display: grid;
	place-content: center;
	aspect-ratio: 1;

	border: none;
	border-radius: 10px;
	background-color: var(--bn-color);
}
.top-menu-add-btn > svg {
	width: 100%; height: auto;
}



.list-cont {
	display: flex;
	flex-direction: column;
	gap: .25rem;
}
.list-cont * {
	font-size: 1em;
}

.s-center {
	text-align: center;
	justify-self: center;
}

.supplier, .suppliers-header {
	padding: 5px;

	display: grid;
	grid-template-columns: 20px .75fr 3fr max-content;
	grid-template-rows: 20px;

	align-items: center;
	gap: 1rem;

	border-radius: 10px;
	background-color: var(--bl-d-color);
}

.supplier {
	outline-color: var(--bn-color);

	color: var(--l-txt-color);
	text-decoration: none;

	&:hover {
		outline: solid 2px var(--bn-color);
	}
	&:hover > .supplier-btns {
		display: grid;
	}
}

.supplier-logo {
	display: grid;
	aspect-ratio: 1;
}
.supplier-logo > svg {
	width: 100%;
	height: 100%;
}

.sup-url {
	white-space: nowrap;
	overflow: hidden; 
	text-overflow: ellipsis; 
}

.slide-toggle-mark {
	position: absolute;
	top: 50%; left: 5px;
	transform: translate(0, -50%);

	width: 15px; height: 15px;

	border-radius: 50%;
	background-color: var(--txt-bn-color);

	transition: all .1s linear;
}


.supplier-btns {
	display: none;
	grid-template-columns: repeat(3, 20px);
	gap: .5rem;
}

/* .load-supplier-products-btn, .supplier-upd, .supplier-del {
	padding: 5px;
	border: none;
	border-radius: 10px;
	background-color: var(--bn-color);
} */


.load-supplier-products-btn, .supplier-upd, .supplier-del {
	display: grid;
	place-content: center;
	aspect-ratio: 1;

	border-radius: 50%;
	outline-color: #00000055;

	transition: all .15s linear;

	&:hover {
		background-color: #00000055;
		outline: solid 3px #00000055;
	}
}


.load-supplier-products-btn svg {
	display: none;
	width: 100%; height: 100%;

	&.active {
		display: block;
	}
}