main {
	padding: 1rem;

	display: grid;
	grid-template-rows: max-content auto max-content;
	gap: 1rem;
}


.top-menu {
	padding: 5px;

	display: grid;
	grid-template-columns: auto max-content 30px;
	grid-template-rows: 30px;
	gap: .5rem;

	border-radius: 10px;
	background-color: var(--bl-d-color);
}

.top-menu > p {
	align-self: center;

	color: var(--txt-l-color);
	font-size: 1.2em;
}


.top-menu-select, .add-order-btn {
	border: none;
	border-radius: 10px;
	background-color: var(--bn-color);

	color: var(--txt-bn-color);
}
.top-menu-select {
	padding: 5px 10px;

	font-size: 1em;
	font-weight: normal;
}
.top-add-btn {
	padding: 3px;

	display: grid;
	place-content: center;
	aspect-ratio: 1;
}
.top-add-btn > svg {
	width: 100%; height: auto;
}


.edit-menu-wraper {
	position: fixed;
	padding: 5px;

	display: none;

	border-radius: 10px;
	background-color: var(--bn-color);
}
.edit-menu-btn {
	padding: 5px;

	border-radius: 5px;
	background-color: transparent;

	color: var(--d-txt-color);
	transition: background-color .2s linear;
}
.edit-menu-btn:hover {
	background-color: #FFFFFF55;
}